@model BrainPunch.Models.Game_Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game_Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstOpponentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOpponentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondOpponentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondOpponentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
